@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #f8f8f8;
  --primary-dark: #1a1a1a;
  --primary-dark: #343434;
  --secondary: #eb5958;
  --btg-dark-grey: #3b3b3b;
  --btg-med-grey: rgb(104, 104, 104);
  --btg-light-grey: #dddddd;
  --btg-red: #eb5958;
  --btg-green: #2cbe3a;
  --btg-yellow: #ffc700;
}

@layer base {
  h1 {
    @apply text-[26px] md:text-[40px] font-extrabold;
  }
  h2 {
    @apply text-[20px] md:text-[28px] font-semibold;
  }
  h3 {
    @apply text-base sm:text-[18px] font-bold;
  }
  p {
    @apply text-[0.7rem] md:text-xs font-normal
    text-btg-med-grey dark:text-btg-light-grey;
  }
  h1,
  h2,
  h3,
  circle {
    @apply text-black dark:text-white
    ease;
  }
  canvas {
    @apply w-full h-full;
  }
}

@layer components {
  /* MAIN CONTAINERS */
  .btg_padding {
    @apply px-4 md:px-8 lg:px-12 xl:px-24 2xl:px-[10%];
  }
  .btg_page_container {
    @apply w-full min-h-dvh
    mx-auto btg_padding flex flex-col
    bg-btg-primary dark:bg-btg-primary-dark
    ease;
  }
  .btg_container {
    @apply w-full h-full 
    mx-auto btg_padding;
  }
  .btg_container_col {
    @apply w-full h-full flex flex-col items-center justify-center;
  }
  .btg_container_row {
    @apply w-full h-full flex flex-row items-center justify-center;
  }
  .btg_grid_container {
    @apply w-full h-auto 
          grid grid-cols-1 
          md:grid-cols-2 xl:grid-cols-3
          gap-7 gap-y-12 
          pt-4 pb-8;
  }
  .flex_center {
    @apply flex items-center justify-center;
  }
  .img_filter {
    @apply rounded-lg object-cover brightness-90;
  }

  /* FACILITY CARD */
  /* TODO: once we enable click to get to facility page, uncomment cursor-pointer  */
  .card_top {
    @apply w-full h-[240px] 
    flex flex-col items-center 
    overflow-hidden rounded-lg 
    /* cursor-pointer */
    justify-center;
    /* z-index: 10; */
  }
  .card_link {
    @apply w-full h-full 
    rounded-lg
    transition duration-300 ease-in-out
    transform hover:scale-110;
  }
  .card_img {
    @apply w-full h-full img_filter brightness-[0.75];
  }
  .card_status {
    @apply w-24 h-24 rounded-lg;
  }

  .card_btm {
    @apply w-full flex flex-row align-middle justify-between;
  }

  .gradient_overlay {
    /* linear-gradient(180deg, #000 38.74%, rgba(0, 0, 0, 0.00) 100%); */
    -webkit-mask-image: linear-gradient(
      180deg,
      #000 38.74%,
      rgba(0, 0, 0, 0) 100%
    );
    mask-image: linear-gradient(180deg, #000 38.74%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(180deg, #000 38.74%, rgba(0, 0, 0, 0) 100%);
  }

  /* INFO BUTTON */
  .info_button_wrapper {
    position: absolute;
    top: 8px;
    right: 8px;
    /* z-index: 15; */
  }

  .info_button {
    @apply ease cursor-pointer
    hover:[&_*]:text-btg-red
    [&_*]:duration-100
    text-black dark:text-white;
    border: none;
    border-radius: 100%;
    padding: 2px 2px;
    font-size: 14px;
    cursor: pointer;
  }

  /* Tooltip that appears on hover */
  .info_tooltip {
    @apply hidden absolute top-[30px] left-[2px] bg-[rgba(255,255,255,0.8)] 
    dark:bg-[rgba(0,0,0,0.8)] p-2 rounded text-[12px] w-max z-10;
  }

  /* Show the tooltip on button hover */
  .info_button_wrapper:hover .info_tooltip {
    display: block;
  }

  /* OCCUPANCY METER */
  .meter_container {
    @apply w-full h-[50px] items-center max-w-[250px] 
    max-h-[100px] relative
    flex flex-col justify-items-end;
  }
  .meter_info {
    @apply absolute top-0 left-0 btg_container_col mt-3 pt-1 pl-8;
  }
  .meter_max_occupancy {
    @apply w-full h-full flex flex-row-reverse absolute;
  }
  #meter_level,
  #meter_track {
    fill: transparent;
  }
  #meter_level {
    /* stroke: var(--btg-green); */
    stroke-width: 20px;
    stroke-linecap: round;
    stroke-dasharray: 420;
    transition: stroke-dashoffset 1s ease-out;
  }
  #meter_track {
    @apply stroke-[20px] stroke-btg-light-grey dark:stroke-btg-dark-grey;
  }

  /* MISC */
  .nav_icon {
    @apply ease cursor-pointer
    group-hover:text-btg-red
    group-hover:[&_*]:text-btg-red
    hover:text-btg-red
    text-black dark:text-white opacity-70;

  }
  .ease {
    @apply transition duration-300 ease-in-out;
  }
  .low {
    @apply bg-btg-green stroke-btg-green;
  }
  .medium {
    @apply bg-btg-yellow stroke-btg-yellow;
  }
  .high {
    @apply bg-btg-red stroke-btg-red;
  }

  .carousel {
    scroll-snap-type: x mandatory;
    scroll-padding: 0 24px;
    overflow: auto;
    display: flex;
    align-items: center;
    width: 100%;
    height: 300px;
    @apply flex-row items-center justify-between space-x-4;
    /* margin: auto; */
    /* @apply space-x-12; */
    /* px-6 lg:px-12 xl:px-24  */
  }
  .carousel::-webkit-scrollbar {
    display: none;
  }

  .carousel_card {
    scroll-snap-align: start;
    flex: 0 0 auto;
    /* width: 70%; */
    /* min-width: 200px; */
    /* width: 360px; */
    height: 60%;
    min-height: 170px;
    /* padding: 20px; */
    border-radius: 5px;
    box-shadow: 0px 2px 24px 0px rgba(149, 157, 165, 0.2);
    @apply rounded-lg w-[240px] lg:w-[31%] py-10
    bg-btg-primary dark:bg-btg-med-grey;
  }

  .amenities {
    scroll-snap-type: x mandatory;
    scroll-padding: 0 24px;
    overflow: auto;
    display: flex;
    align-items: center;
    @apply flex-row items-center justify-between space-x-4;
  }
  .amenities::-webkit-scrollbar {
    display: none;
  }
  .amenities_card {
    scroll-snap-align: start;
    flex: 0 0 auto;
    min-height: 170px;
    border-radius: 5px;
    /* box-shadow: 0px 2px 24px 0px rgba(149, 157, 165, 0.20); */
    @apply rounded-lg w-[240px] lg:w-[31%];
  }
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Inter", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  /* background-color: var(--secondary); */
}

.login-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3px);
  z-index: 15;
}

.login-popup-content {
  @apply bg-btg-primary;
  padding: 20px;
  border-radius: 10px;
  max-width: 520px;
  width: 100%;
}

.login-popup-content #body {
  @apply text-[0.7rem] md:text-xs font-normal
  text-btg-med-grey;
  margin-bottom: 10px;
  margin-left: 10px;
}

.login-popup-content #loggedOut {
  @apply text-[0.7rem] md:text-xs font-normal
  text-btg-primary-dark;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.login-popup-content h2 {
  @apply text-[20px] md:text-[28px] font-semibold
  text-btg-primary-dark;
  padding: 10px;
}

.login-popup-content button {
  background-color: var(--btg-med-grey);
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  font-size: 0.7rem;
  margin-left: 10px;
  margin-bottom: 10px;
  width: 100px;
}

/* .info_overlay {
  animation: fade-in 0.5s;
} */

@keyframes fade-in {
  to {
    opacity: 100 !important;
    background-color: red;
  }
}

@keyframes fade-out {
  from {
    opacity: 100;
  }
  to {
    opacity: 0;
  }
}

.fade-in {
  /* background-color: red; */
  animation: fade-in 0.5s;
}

.fade-out {
  animation: fade-out 0.5s;
}
