@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
  height: 100%;
}

:root{
  --primary: #f4f4f4;
  --primary-dark: #1A1A1A;
  /* --primary: rgb(136, 136, 136); */
  --primary-dark: #343434;
  --secondary: #EB5958;
  --btg-dark-grey: #3b3b3b;
  --btg-light-grey: #DDDDDD;
  --btg-red: #EB5958;
  --btg-green: #2CBE3A;
  --btg-yellow: #FFC700;
}

@layer base{
  h1{
    @apply text-3xl font-bold;
  }
  h1, h3, p, circle{
    @apply text-black dark:text-white
    transition duration-300 ease-in-out;
  }

}

@layer components{

  .btg_page_container{
    @apply w-full h-full
    bg-btg-primary
    dark:bg-btg-primary-dark
    transition duration-300 ease-in-out;
  }
  .btg_container{
    @apply w-full h-full mx-auto px-8 lg:px-12 xl:px-24;
  }
  .btg_container_col {
    @apply w-full h-full flex flex-col items-center justify-center;
  }
  .btg_container_row{
    @apply w-full h-full flex flex-row items-center justify-center;
  }
  .btg_grid_container{
    grid-template-rows: 350px;
    @apply w-full h-auto pt-8 grid grid-cols-1 
          md:grid-cols-2 lg:grid-cols-3 gap-7;
  }


  .card_top{
    @apply w-full h-[250px] flex flex-col items-center 
    overflow-hidden rounded-lg cursor-pointer;
  }
  .card_img{
    @apply w-full h-[250px] rounded-lg
    object-cover brightness-[0.8]
    transition duration-300 ease-in-out
    transform hover:scale-110;
  }
  .card_status{
    @apply w-24 h-24 rounded-lg
  }

  .card_btm{
    @apply w-full h-[30%] flex flex-row align-middle;
  }


  .meter_container{
    @apply w-full h-[55px] items-center max-w-[250px] 
    max-h-[100px] relative
    flex flex-col;
    /* overflow-hidden */
  }
  .meter_info{
    position: absolute;
    top: 0;
    left: 0;
    /* top: 50%;
    left: 45%; */
    @apply btg_container_col mt-2 pt-1
  }

  .nav_icon{
    @apply
    /* mr-3 ml-4 */mt-2
    transition duration-300 ease-in-out 
    hover:text-btg-red cursor-pointer text-black dark:text-white;
  }

  #progress,
  #progress_track{
    fill: transparent;
  }
  #progress {
    /* stroke: var(--btg-green); */
    stroke-width: 20px;
    stroke-linecap: round;
    stroke-dasharray: 400;
    transition: stroke-dashoffset 0.6s ease-in-out;
    /* stroke-dashoffset: 600;  */
  }
  #progress_track {
    @apply stroke-[20px] stroke-btg-light-grey dark:stroke-btg-dark-grey
  }

  .low{
    @apply bg-btg-green stroke-btg-green;
  }
  .medium{
    @apply bg-btg-yellow stroke-btg-yellow;
  }
  .high{
    @apply bg-btg-red stroke-btg-red;
  }


}


body {
  margin: 0;
  padding: 0;
  /* background-color: var(--primary); */
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Inter', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  /* background-color: var(--secondary); */
}

