@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary: #f4f4f4;
  --primary-dark: #1A1A1A;
  --primary-dark: #343434;
  --secondary: #EB5958;
  --btg-dark-grey: #3b3b3b;
  --btg-light-grey: #DDDDDD;
  --btg-red: #EB5958;
  --btg-green: #2CBE3A;
  --btg-yellow: #FFC700;
}

@layer base{
  h1{
    @apply text-3xl font-bold;
  }
  h3{
    @apply text-base sm:text-[20px];
  }
  p{
    @apply text-[0.7rem] md:text-xs;
  }
  h1, h3, p, circle{
    @apply text-black dark:text-white
    transition duration-300 ease-in-out;
  }
}

@layer components{

  /* MAIN CONTAINERS */
  .btg_page_container{
    @apply w-full h-full min-h-dvh
    mx-auto px-6 lg:px-12 xl:px-24
    bg-btg-primary dark:bg-btg-primary-dark
    transition duration-300 ease-in-out;
  }
  .btg_container{
    @apply w-full h-full mx-auto px-6 lg:px-12 xl:px-24;
  }
  .btg_container_col {
    @apply w-full h-full flex flex-col items-center justify-center;
  }
  .btg_container_row{
    @apply w-full h-full flex flex-row items-center justify-center;
  }
  .btg_grid_container{
    grid-template-rows: 350px;
    @apply w-full h-auto pt-8 grid grid-cols-1 
          md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-3 gap-7;
  }

  /* FACILITY CARD */
  .card_top{
    @apply w-full h-[250px] 
    flex flex-col items-center 
    overflow-hidden rounded-lg cursor-pointer
    justify-center;
  }
  .card_link{
    @apply w-full h-full 
    rounded-lg
    transition duration-300 ease-in-out
    transform hover:scale-110;
  }
  .card_img{
    @apply
    w-full h-full object-cover 
    rounded-lg brightness-[0.75] 
  }
  .card_status{
    @apply w-24 h-24 rounded-lg
  }
  .card_btm{
    @apply w-full h-[40%] flex flex-row align-middle justify-between;
  }

  /* OCCUPANCY METER */
  .meter_container{
    @apply w-full h-[55px] items-center max-w-[250px] 
    max-h-[100px] relative
    flex flex-col ;
  }
  .meter_info{
    @apply absolute top-0 left-0 btg_container_col mt-2 pt-1 pl-8
  }
  .meter_max_occupancy {
    @apply w-full h-full flex flex-row-reverse absolute
  }
  #meter_level,
  #meter_track{
    fill: transparent;
  }
  #meter_level {
    /* stroke: var(--btg-green); */
    stroke-width: 20px;
    stroke-linecap: round;
    stroke-dasharray: 400;
    transition: stroke-dashoffset 0.6s ease-in-out;
  }
  #meter_track {
    @apply stroke-[20px] stroke-btg-light-grey dark:stroke-btg-dark-grey
  }

  /* MISC */
  .nav_icon{
    @apply mt-2
    transition duration-300 ease-in-out 
    hover:text-btg-red cursor-pointer text-black dark:text-white;
  }
  .low{
    @apply bg-btg-green stroke-btg-green;
  }
  .medium{
    @apply bg-btg-yellow stroke-btg-yellow;
  }
  .high{
    @apply bg-btg-red stroke-btg-red;
  }

}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Inter', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  /* background-color: var(--secondary); */
}

